.clearfix::after {
    content: "";
    clear: both;
    display: inline-flex;
  }
body{
    background-color: #dddddd;
    border-color: #cccccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}
 .navbar-brand{
    background-color: #4aaaa5;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
} 
.navbar {
    padding: 0rem 1rem;
    padding-top: 0.5rem;
}
.header-page{
    margin-top: 15px;
    font-weight: 100;
}
.AboutMeBlock{
    background-color: #eee;
    height:auto;
    width: auto;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 90px;
}
.PortolioBlock{
    background-color: #eee;
    width: auto;
    padding: 20px;
    margin: 20px auto;
    margin-top: 40px;
    margin-bottom: 90px;
    padding-bottom: 80px;
}
.img-thumbnail{
    float: left;
    margin-right: 20px;
    width: 200px;
}
p { 
    word-break: break-all; 

}
.btn-Submit{
    margin-top: 10px;
}
h1{
    color: #4aaaa5;
}
hr {
    width: 100%;
    height: 2px;
    background-color: lightgrey;
    }
.col-center{
    text-align: center;    
}
.btn-mrg{
margin-top: -100px;
width: 100%;
}

.card-img-top{
    width: 100;
    height: 300px;
    margin-top: 2.5rem;

}
.page-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  border-top: 8px solid #4aaaa5;
}